<!DOCTYPE html>
<html lang="en">
  <head>
    <title> New Trip </title>
  </head>
  <body>
    <h1>Create New Trip</h1>

    <p><a href="/stations">All Stations</a> | <a href="/trips">All Trips</a> | <a href="/">Home</a></p>

    <form class="" action="/stations" method="post">

      <label for="">Duration:</label>
        <p><input type="integer" name="trip[duration]" value=""></p>

      <label for="">Start Date:</label>
        <p><input type="datetime-local" name="trip[start_date]" value=""></p>

      <label for="">Start Station:</label>
        <p><select name="trip[start_station]">
          <% @stations.each do |station| %>
            <option value="<% station.id %>"><%= station.name %></option>
          <% end %>
        </select></p>

      <label for="">End Date:</label>
        <p><input type="datetime-local" name="trip[end_date]" value=""></p>

      <label for="">End Station:</label>
        <p><select name="trip[end_station]">
          <% @stations.each do |station| %>
            <option value="<% station.id %>"><%= station.name %></option>
            <% end %>
          </select></p>

      <label for="">Bike ID:</label>
        <p><input type="integer" name="trip[bike_id]" value=""></p>

      <label for="">Subscription Type:</label>
        <p><select name="trip[subscription_type]">
          <% @subscriptions.each do |subscription| %>
            <option value="<% subscription.id %>"><%= subscription.name %></option>
            <% end %>
          </select></p>

      <label for="">Zip Code:</label>
        <p><input type="integer" name="trip[subscription_id]" value=""></p>

      <p><input type="submit" name="submit" value="Create New Station" /></p>
    </form>
  </body>
</html>
