<h1>ERROR</h1>
<p><a href="/">Home</a> | <a href="/stations">All Stations</a> | <a href="/stations/new">New Station</a></p>
<p><p><h4>Please input all fields before submitting.</p></p>
<p><h3><a href="/stations/new">Back</a></h3></p>
