
    <h1>Create New Station</h1>
    <a href="/stations">All Stations</a>
    <a href="/trips">All Trips</a>
    <a href="/">Home</a>

<hr>
    <form class="" action="/stations" method="post">
      <label for="name">Name:</label>
      <input type="textfield" name="station[name]">

      <label for="">City</label>

      <select name="city">City
        <% @city.each do |city| %>
          <option value="<% city.id %>"><%= city.city %></option>
        <% end %>
      </select>

      <label for="">Dock Count</label>
      <input type="integer" name="station[dock_count]" value="">
      <label for="">Installation Date</label>
      <input type="date" name="station[installation_date]" value="">
      <input type="submit" name="submit" value="Create New Station" />
    </form>
