<!DOCTYPE html>
<html lang="en">
  <head>
    <title> New Station </title>
  </head>
  <body>
    <h1>Create New Station</h1>
    <p><a href="/stations">All Stations</a> | <a href="/trips">All Trips</a> | <a href="/">Home</a></p>
    <form class="" action="/stations" method="post">
      <label for="">Name:</label>
      <p><input type="textfield" name="station[name]" value=""></p>
      <label for="">City</label>
      <p><select name="station[city_id]" value="">
        <% @city.each do |city| %>
          <option value="<% city.id %>"><%= city.city %></option>
        <% end %>
      </select></p>

      <label for="">Dock Count</label>
      <p><input type="integer" name="station[dock_count]" value=""></p>
      <label for="">Installation Date</label>
      <p><input type="date" name="station[installation_date]" value=""></p>
      <p><input type="submit" name="submit" value="Create New Station" /></p>
    </form>
  </body>
</html>
