<link href="/public/styles/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/public/styles/application.css" rel="stylesheet">

<h1>Welcome to Bike Share App</h1>
<a href="#">All Stations</a>
<a href="#">All Trips</a>
