<h1>Welcome to BikeShareApp</h1>

<h3><a href="/stations">All Stations</a> | <a href="/trips">All Trips</a> | <a href="/conditions">All Weather Conditions</a></h3>

<p><p><h3><a href="/station-dashboard">Station Dashboard</a> | <a href="/trips-dashboard">Trip Dashboard</a> | <a href="/weather-dashboard">Weather Dashboard</a></h3></p></p>
