<h1>Weather Dashboard</h1>

<div class="album">
  <div class="jumbotron container">
    <div class="row">

    <div class="col-md-6">
      <h3 class="card-text">Highest/Lowest/Average Rides by 10 Degrees Here</h3>
    </div>

    <div class="col-md-6">
      <h3>Highest/Lowest/Average Rides by Precipitation Here</h3>
    </div>

  </div>

  <div class="row">

  <div class="col-md-6">
    <h3>Highest/Lowest/Average Rides by Wind Speed Here</h3>
  </div>

  <div class="col-md-6">
    <h3>Highest/Lowest/Average Rides by Visibility Here</h3>
  </div>
  </div>

  <div class="row">
  <div class="col-md-6">
    <h3>Highest Rides by Day Here</h3>
   </div>

    <div class="col-md-6">
      <h3>Lowest Rides by Day Here</h3>
    </div>

  </div>
 </div>
</div>
